.header-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.header-post .infos-post .nodejs-image .img-header-post {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  padding: 2px;
}

.header-post .infos-post .nodejs-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#c82d8e, #f99d4c);
}

.header-post .tres-pontinhos {
  cursor: pointer;
}

.infos-post .info-reactjs {
  cursor: pointer;
}

.infos-post {
  display: flex;
  align-items: center;
  gap: 16px;
}

.img-post img {
  width: 100%;
  object-fit: cover;
}

.footer-post {
  padding: 10px 15px;
}

.engagement-post {
  display: flex;
  justify-content: space-between;
}

.engagement-post .icons-1 {
  display: flex;
  gap: 16px;
}

.icon {
  cursor: pointer;
}

.like {
  margin-top: 6px;
}

.like span {
  font-size: 15px;
  font-weight: 500;
}

.like .javascript-likes {
  cursor: pointer;
}

.legend {
  margin: 6px 0 3px;
}

.legend .javascript-name {
  cursor: pointer;
}

.legend p strong {
  font-weight: 500;
}

.time-post time {
  font-size: 11px;
  color: var(--secondary);
}

.comment {
  border-top: 1px solid var(--border-secondary);
  margin-top: 8px; 
  display: flex;
}

.fake-comment {
  padding: 15px 0;
  display: flex;
  align-items: center;
  flex: 1;
  gap: 16px;
}

.fake-comment input {
  font-size: 16px;
}

.comment button {
  color: var(--quartary);
  font-weight: 500;
  cursor: pointer;
}
